.profile-con {
  background-image: url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
  border-radius: 10px;
  background-size: cover;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
}
.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 20px;
}
.profile-name {
  color: #4f46e5;
  font-size: 29px;
}
.profile-desc {
  font-size: 20px;
  color: #323f4b;
}
.retry-btn {
  height: 45px;
  width: 150px;
  border-radius: 6px;
  background-color: #4f46e5;
  border: none;
}
@media (max-width: 768px) {
  .profile-desc {
    font-size: 15px;
  }
}
