* {
  color: white;
  font-family: Roboto;
}

.app-logo {
  height: 47px;
  width: 148px;
  align-self: center;
  margin-top: 20px;
}
.nav-header-md,
.nav-header-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 40px;
  background-color: #2c364c;
}
.nav-header-md {
  display: flex;
}
.nav-header-sm {
  display: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  font-size: 17px;
  list-style-type: none;
  text-decoration: none;
  margin-right: 15px;
}
.logout-btn {
  height: 30px;
  width: 100px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-bottom: 10px;
  border: none;
}

@media (max-width: 576px) {
  .app-logo {
    margin-top: 15px;
    height: 28px;
    width: 88px;
  }
  .nav-header-md {
    display: none;
  }
  .nav-header-sm {
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
  }
  .logout-btn {
    border: none;
    background-color: transparent;
    height: 24px;
    margin-top: 10px;
    width: 24px;
  }
}
