* {
  color: white;
  font-family: Roboto;
}

.job-item-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.job-con {
  padding: 20px;
  border-radius: 10px;
  width: 98%;
  background-color: #475569;
}
.role-con {
  display: flex;
  align-items: center;
}
.role {
  font-size: 20px;
  font-weight: 800;
}
.vaccancies {
  font-size: 20px;
  font-weight: 800;
}
.company-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.location-salary-details {
  font-size: 15px;
  margin-right: 10px;
}
.icons {
  height: 20px;
  width: 20px;
}
.location-salary-con {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.job-desc {
  font-size: 16px;
}
.life-at-company-desc {
  font-size: 16px;
}
.desc {
  font-size: 22px;
  font-weight: 800;
}
.location-employmentType {
  display: flex;
}
.skills-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.skills-header {
  font-size: 22px;
  font-weight: 800;
}
.life-at-company {
  font-size: 22px;
  font-weight: 800;
}
.about-company-img {
  height: 230px;
  width: 250px;
}
.lifeAtCompany-con {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.similar-jobs {
  font-size: 30px;
  padding-left: 10px;
}
.similar-job-list-con {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.similar-job-list-con::-webkit-scrollbar {
  display: none;
}
.app-similar-job-con {
  width: 100%;
}

.retry-btn {
  height: 39px;
  width: 150px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-bottom: 10px;
  border: none;
}
.description-and-visit-btn-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visit-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #cbd5e1;
  font-size: 16px;
  display: flex;
  gap: 6px;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  height: 300px !important;
  width: 350px !important;
}
.failure-header {
  font-size: 30px;
}
.failure-msg {
  font-size: 20px;
}

@media (max-width: 576px) {
  .job-item-container {
    padding: 15px;
    padding-right: 30px;
  }

  .lifeAtCompany-con {
    display: flex;
    flex-direction: column;
  }

  .about-company-img {
    width: 98%;
  }

  .similar-job-list-con {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .failure-img {
    height: 180px !important;
    width: 200px !important;
    text-align: center;
  }
  .failure-header {
    font-size: 22px;
    text-align: center;
  }
  .failure-msg {
    font-size: 18px;
    text-align: center;
  }
}
